<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="tests" thread-count="9">
    <test name="Test 1">
        <classes>
            <class name="LoginPageTest"/>
            <class name="LoginPageFunctionalities"/>
            <class name="HomePageTest"/>
            <class name="HeaderSectionTest"/>
            <class name="HeaderSectionFunctionalities"/>
            <class name="PopularPageTest"/>
            <class name="SearchPageTest"/>
            <class name="MovieDetailsPageTest"/>
            <class name="AccountPageTest"/>
        </classes>
    </test>
</suite>